<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.13.4076.28499" />
  <package id="BrickPile" version="0.3.0.89" />
  <package id="dotless" version="1.1.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="RavenDB-Embedded" version="1.0.701" />
  <package id="SquishIt" version="0.7.1" />
  <package id="structuremap" version="2.6.3" />
  <package id="WebActivator" version="1.4.4" />
  <package id="YUICompressor.NET" version="1.5.0.0" />
</packages>